<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheets" href="../public/css/styles.css">
</head>
<body>
    <div class = "form-add-new">
        <form action= "/create-user" method="post">
            <fieldset>
                <legend>Thêm người mới</legend>
                <div class = 'input-group'>
                    <label >
                        name: 
                    </label>
                    <input type="text" name="name">
                </div>
                <div class = 'input-group'>
                    <label >
                        email: 
                    </label>
                    <input type="text" name="email">
                </div>
                <div class = 'input-group'>
                    <label >
                        password: 
                    </label>
                    <input type="text" name="password">
                </div>
                <div class = 'input-group'>
                    <label >
                        gender: 
                    </label>
                    <input type="text" name="gender">
                </div>
                <div class = 'input-group'>
                    <label >
                        date of birth: 
                    </label>
                    <input type="text" name="dob">
                </div>
                <button>click</button>
            </fieldset>
        </form>
    </div>
</body>
</html>